{{ define "main" }}
{{ $workAuthor := "" }}{{ $workTitle := "" }}
{{ with .Params.work }}
  {{ $work := $.Site.GetPage (printf "/works/%s" .) }}
  {{ with $work }}
    {{ $workAuthor = .Params.author }}
    {{ $workTitle = .Title }}
  {{ end }}
{{ end }}
<div>
  {{ with $workAuthor }}
  <span data-pagefind-meta="title" data-pagefind-ignore class="visually-hidden">{{ $workAuthor }} – {{ $workTitle }}</span>
  <span data-pagefind-meta="work_author" data-pagefind-ignore class="visually-hidden">{{ $workAuthor }}</span>
  <span data-pagefind-meta="work_title" data-pagefind-ignore class="visually-hidden">{{ $workTitle }}</span>
  {{ end }}
  {{ partial "quote-entry.html" . }}
</div>
{{ end }}
