<div class="note-meta">
  {{ if not .Date.IsZero }}
  <span>First published: {{ partial "format-date.html" (dict "date" .Date) }}</span>
  {{ end }}
  {{ if and (not .Lastmod.IsZero) (ne (.Lastmod.Format "2006-01-02") (.Date.Format "2006-01-02")) }}
  <span>Last updated: {{ partial "format-date.html" (dict "date" .Lastmod) }}</span>
  {{ end }}
  {{ $codeLines := len (findRE `<span class="line">` .Content) }}
  {{ if gt $codeLines 0 }}
  {{ $proseContent := replaceRE `(?s)<div class="highlight">.*?</pre></div>` "" .Content }}
  <span>{{ countwords $proseContent }} words · {{ $codeLines }} lines of code</span>
  {{ else }}
  <span>{{ .WordCount }} words</span>
  {{ end }}
  {{ partial "tags.html" . }}
</div>
