<div class="quote-entry">
  {{ .Content }}
  {{ with .Params.work }}
    {{ $work := $.Site.GetPage (printf "/works/%s" .) }}
    {{ with $work }}
    {{ $type := .Params.entry_type | default "book" }}
    <p class="quote-attribution">
      {{- partial "citation-format.html" (dict "work" . "type" $type "locator" $.Params.locator "link" true) -}}
    </p>
    {{ end }}
  {{ end }}
  <div class="quote-date">
    <a href="{{ .RelPermalink }}"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></a>
  </div>
</div>
